<div class="container">
  <h2 class="grey-text text-darken-1 center">DailyFoodSubscription</h2>
  <h5 class="center grey-text flow-text">
    A simple tool for food subscription management in organizations
  </h5>
  <br /><br />
  <div class="center">
    <a href="/auth/google" class="btn grey darken-1"
      >Login with Google account</a
    >
  </div>
</div>
